@charset "utf-8";

@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

/* reset */
* {margin: 0; padding: 0; box-sizing:border-box;}
ul, ol {list-style-type: none;}
hr {display: none;}
h1 {margin: 0;}
h1 > span {text-indent:-9999px; display:none;}
a {text-decoration: none; display:block; width:100%; height:100%; color:#313131;}
p {margin-bottom: 0;}
button {border: none; outline:none; background: none; text-indent: -9999px;}
img {border: none;}
html {font-size: 0.625em; }
body {font-family: 'NanumSquareRound', sans-serif; font-weight:400; line-height: 1; overflow-x:hidden; color:#313131;}
.clear:after {content: ""; display: block; clear: both;}

/* particles.js */
body { background-color:#EFEFEF; }
canvas {
    display: block;
    vertical-align: bottom;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
main,footer {
    z-index:1;
    position:relative;
}

/* header */
header {
    background-color: transparent;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition:background-color 1s;
}
.header_inner {
    position: relative;
    width: 100%;
    height: 45px;
}
.header_inner h1 {
    position:absolute; top:50%; left:6.578%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
.header_inner h1 img {
    width:90px;
}
.header_inner .close-b {
    position:absolute; top:50%; right:6.578%;
    transform:translateY(-50%);
    padding:10px 0 10px 10px; 
    width:auto; height:auto;
}
.header_inner .close-b:hover .b-inner span:nth-of-type(1) {
    -webkit-transform: translate3d(3px,9px,0) rotate(-225deg);
    transform: translate3d(3px,9px,0) rotate(-225deg);
}
.header_inner .close-b span {
    display:block;
}
.header_inner .b-inner {
    width:25px; height:25px;
    border:2px solid #444;
    position:relative;
}
.header_inner .b-inner span {
    width:15px; height:2px; 
    border-radius:2px;
    background-color:#444;
    position:absolute; left:0;
    transition:transform 1s cubic-bezier(0,0,.05,1);
}
.header_inner .b-inner span:nth-of-type(1) {
    top:0;
    -webkit-transform: translate3d(3px,9px,0) rotate(135deg);
    transform: translate3d(3px,9px,0) rotate(135deg);
}
.header_inner .b-inner span:nth-of-type(2) {
    bottom:0;
    -webkit-transform: translate3d(3px,-10px,0) rotate(-135deg);
    transform: translate3d(3px,-10px,0) rotate(-135deg);
}
.header_inner h1,
.header_inner .close-b {
    -webkit-transition: transform .4s cubic-bezier(.215,.61,.355,1);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.215,.61,.355,1);
    transition: -webkit-transform .4s cubic-bezier(.215,.61,.355,1);
    transition: transform .4s cubic-bezier(.215,.61,.355,1);
    transition: transform .4s cubic-bezier(.215,.61,.355,1),-webkit-transform .4s cubic-bezier(.215,.61,.355,1) .85s;
}
.header_inner h1.disappear,
.header_inner .close-b.disappear {
    -webkit-transform: translateY(calc(-100% - 7vw));
    transform: translateY(calc(-100% - 7vw));
}


/* main */
#main {
    margin-top:105px;
    padding:0 6.578%;
}
#main .main-title h2 {
    margin:0;
    font-size:3rem; line-height:3.7rem;
    font-weight:800;
}
.b-768 {
    display:none;
}
.b-1024 {
    display:none;
}
.tab-menu {
    padding:0;
    font-size:1.6rem;
    margin-top:100px;
}
.tab-menu ul {
    margin:0;
    padding-bottom:4px;
    width:300px;
}
.tab-menu ul li {
    float:left;
    margin-right:40px;
    cursor:pointer;
}
.tab-menu ul li.on {
    font-weight:700;
    text-decoration:underline;
}
.tab-menu ul li.m-r {
    margin-right:0;
}
.tab-menu ul li + li + li + li {
    margin-top:15px;
}

/* main 포트폴리오 게시물 */
.tab-list {
    margin-top:75px;
}
.tab-list li {
    padding:0;
    text-align:center;
    cursor:pointer;
}
.tab-list ul li i {
    text-indent: -9999px;
    display:none;
}
.tab-list li span {
    overflow:hidden;
    position:relative;
    display: block;
    max-height: 300px;
}
.tab-list li:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.tab-list li img {
    width:100%;
    -webkit-transition: all 2s cubic-bezier(0,0,.05,1);
    transition: all 2s cubic-bezier(0,0,.05,1);
}
.tab-list li p {
    margin:20px 0 50px;
    font-size:2rem;
}
.tab-list > ul {
    display:none;
}
.tab-list > ul.all {
    display:flex;
}
/* 처음 보이는 6개는 나타내고 나머지는 숨기기 */
.tab-list > .row > li.show {
    display:block;
}
.tab-list > .row > li {
    display:none;
}

/* 하단 페이지 번호 */
.page {
    text-align:center;
    margin:100px 0 45px;
    padding:0;
}
.page ul {
    margin-bottom:25px;
}
.page ul li {
    display:inline-block;
    margin-right:25px;
}
.page ul li.active {
    font-weight:700;
    text-decoration:underline;
}
.page ul li.active a {
    color:#313131;
}
.page ul li:last-child {
    margin-right:0;
}
.page ul li a {
    font-size:1.9rem;
    color:#878787;
}
.page ul li a img {
    width:11px;
    margin-bottom: 4px;
}
.page .all-page {
    font-size:1.5rem;
}

/* footer */
footer {
    padding:0 6.578%;
}
.footer_wrap {
    width:100%;
    text-align:center;
    border-top:2px solid #E5E5E5;
}
.footer_wrap p {
    font-size:1rem; color:#333;
    line-height:43px;
}

/* 포트폴리오 이미지 팝업 */
.port-popup {
    position:fixed; top:100vh; left:0;
    width:100%; height:auto;
    z-index:101;
    text-align: center;
    overflow:hidden;
    background-color: rgba(0,0,0,.5);
    padding:0;
    -webkit-transition: top .8s cubic-bezier(.77,0,.175,1) .4s;
    -webkit-transition: -webkit-top .8s cubic-bezier(.77,0,.175,1) .4s;
    transition: -webkit-top .8s cubic-bezier(.77,0,.175,1) .4s;
    transition: top .8s cubic-bezier(.77,0,.175,1) .4s;
    transition: top .8s cubic-bezier(.77,0,.175,1) .4s,-webkit-top .8s cubic-bezier(.77,0,.175,1) .4s;
}
.port-popup.show {
    position:absolute; top:0;
}
.port-popup .img-inner img {
    width:100%;
    display:none;
}
.port-popup .popup-b-inner {
    width:100%; height:45px;
    position:fixed;
}
.port-popup .popup-b-inner button {
    position:absolute; top:50%; right:6.578%;
    transform: translateY(-50%);
    display:block;
    width:25px; height:25px;
    border: 2px solid #444;
    overflow: hidden;
    background-color:#fff;
    outline:none;
}
.port-popup .popup-b-inner button .b-arrow {
    position: absolute;
    display: inline-block;
    width: 35%; height: 35%;
    top: 28%; left: 34%;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.port-popup .popup-b-inner button .b-arrow span {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}
.port-popup .popup-b-inner button .b-arrow span:nth-of-type(2) {
    -webkit-transform: translate(200%,200%);
    transform: translate(200%,200%);
}
/* 팝업창 설명 */
.logo-box {
    position: absolute;
    top: 10px;
    left: 6.578%;
    width:90px; height:24px;
    background:url(../img/logo1-4.svg) no-repeat;
    background-size:contain;
}
.pop-info {
    background-color: #222;
    padding:75px 0 30px;
    text-align:left;
    color:#fff;
}
.pop-info .text-top,
.pop-info .text-bottom {
    padding-left:6.578%;
    padding-right:calc(6.578% + 25px);
}
.pop-info .title01 {
    font-size:1.8rem; font-weight:800;
    margin-bottom:5px;
}
.pop-info .title02 {
    font-size:1.3rem;
    color:#ddd;
}
.pop-info .info-line {
    width:100%; height:1px;
    background-color:rgba(255,255,255,.2);
    margin:10px 0 15px;
}
.pop-info .content01 {
    margin-bottom:10px;
    word-break: keep-all;
}
.pop-info .content02 {
    word-break: keep-all;
}
.pop-info .content01, 
.pop-info .content02 {
    font-size:1.2rem; line-height:1.7rem;
}

/* 화살표 애니메이션 */
@-webkit-keyframes hoverBottom {
    to {
        -webkit-transform: rotate(225deg) translate(-200%,-200%);
        transform: rotate(225deg) translate(-200%,-200%)
    }
}
@keyframes hoverBottom {
    to {
        -webkit-transform: rotate(225deg) translate(-200%,-200%);
        transform: rotate(225deg) translate(-200%,-200%)
    }
}
.port-popup .popup-b-inner button.hover .b-arrow {
    -webkit-animation: hoverBottom .37s cubic-bezier(.215,.61,.355,1) both;
    animation: hoverBottom .37s cubic-bezier(.215,.61,.355,1) both;
}

/* 가로 해상도 768 이상 */
@media screen and (min-width:768px){
    /* header */
    .header_inner {
        height:60px;
    }
    .header_inner h1 {
        left:3.125%;
    }
    .header_inner h1 img {
        width:114px;
    }
    .header_inner .close-b {
        right:3.125%;
    }
    .header_inner .b-inner {
        width:30px; height:30px;
    }
    .header_inner .b-inner span:nth-of-type(1) {
        top: 0;
        -webkit-transform: translate3d(6px,12px,0) rotate(135deg);
        transform: translate3d(6px,12px,0) rotate(135deg);
    }
    .header_inner .b-inner span:nth-of-type(2) {
        top: 0;
        -webkit-transform: translate3d(6px,-12px,0) rotate(-135deg);
        transform: translate3d(6px,12px,0) rotate(-135deg);
    }
    .header_inner .close-b:hover .b-inner span:nth-of-type(1) {
        -webkit-transform: translate3d(6px,12px,0) rotate(-45deg);
        transform: translate3d(6px,12px,0) rotate(-45deg);
    }
    
    
    /* main title */
    #main {
        margin-top:160px;
        padding:0 6.9%;
    }
    #main .main-title h2 {
        font-size:5rem;
        line-height:60px;
    }
    .b-768 {
        display:block;
    }
    
    /* tab-menu 상단 */
    .tab-menu {
        margin-top:120px;
    }
    .tab-menu ul {
        width:auto;
    }
    .tab-menu ul li + li + li + li {
        margin-top:0;
    }
    .tab-menu ul li.m-r {
        margin-right: 40px;
    }
    
    .tab-list {
        margin-top:100px;
        max-width:100%;
    }
    .tab-list .row > li {
        float:left;
    }
    .tab-list .row > li:nth-of-type(odd) {
        padding-right:30px;
    }
    .tab-list .row > li:nth-of-type(even) {
        padding-left:30px;
    }
    .tab-list li p {
        font-size:1.8rem;
        margin:24px 0 75px;
    }
    .page {
        float:left;
        margin:45px auto;
    }
    .page .page-inner {
        width:470px;
        margin:0 auto;
    }
    .page ul {
        margin-bottom:0;
        float:right;
    }
    .page ul li a {
        font-size:2rem;
    }
    .page ul li {
        margin-right:30px;
    }
    .page .all-page {
        float:left;
        font-size:2rem;
    }
    
    .footer_wrap p {
        font-size:1.2rem;
        line-height:66px;
    }
    
    /* popup */
    .img-inner {
        padding:0;
    }
    .port-popup .popup-b-inner {
        height:60px;
    }
    .port-popup .popup-b-inner button {
        width:30px; height:30px;
        right: 3.125%;
    }
    /* 팝업창 설명 */
    .logo-box {
        top: 15px; left: 3.125%;
        width:114px; height:30px;
    }
    .pop-info {
        padding:90px 0 40px;
    }
    .pop-info .text-top, 
    .pop-info .text-bottom {
        padding:0 7.8125%;
    }
    .pop-info .title01 {
        font-size:2.4rem;
    }
    .pop-info .title02 {
        font-size:1.4rem;
    }
    .pop-info .info-line {
        margin:14px 0 20px;
    }
    .pop-info .content01, 
    .pop-info .content02 {
        line-height:2rem;
    }
    .pop-info .content01 {
        
    }
    .pop-info .content02 {
        float:left;
    }
    
}

/* 가로 해상도 1024 이상 */
@media screen and (min-width:1024px){
    /* header */
    .header_inner h1 {
        left:2.4%;
    }
    .header_inner .close-b {
        right:2.4%;
    }
    .b-768 {
        display:none;
    }
    .b-1024 {
        display:block;
    }
    
    #main {
        padding: 0 7.03125%;
    }
    .tab-list li span {
        max-height:290px;
    }
    .tab-list li p {
        font-size:2.6rem;
    }
    .tab-list .row > li:nth-of-type(odd) {
        padding-right: 25px;
    }
    .tab-list .row > li:nth-of-type(even) {
        padding-left: 25px;
    }
    
    /* popup */
    .port-popup .popup-b-inner button {
        right: 2.4%;
    }
    .img-inner {
        padding: 0 5.859%;
    }
    /* 팝업창 설명 */
    .logo-box {
        left: 2.4%;
    }
    .pop-info {
        padding:90px 0 60px;
    }
    .pop-info .text-top, 
    .pop-info .text-bottom {
        padding:0 5.859%;
    }
    .pop-info .title01 {
        font-size:3rem;
        margin-bottom: 10px;
    }
    .pop-info .title02 {
        font-size:1.6rem;
    }
    .pop-info .info-line {
        margin:15px 0 30px;
    }
    .pop-info .content01, 
    .pop-info .content02 {
        font-size:1.4rem; line-height:2.4rem;
    }
    .pop-info .content01 {
        float:right;
        margin-bottom: 0;
        text-align:right;
    }
    .pop-info .content02 {
        max-width: 454px;
    }
}

/* 가로 해상도 1300 이상 */
@media screen and (min-width:1300px){
    .b-1300 {
        display:none;
    }
    #main {
        padding:0 12.239%;
    }
    #main .main-title h2 {
        font-size:7rem;
        line-height:80px;
    }
    .page .page-inner {
         margin: 0; 
    }
    .page {
        margin:75px 0 100px;
    }
    .img-inner {
        max-width: 1000px;
        margin:-100px auto 0;
        padding:0;
    }
    /* 팝업창 설명 */
    .pop-info {
        padding:90px 0 130px;
    }
    .pop-info .text-top, 
    .pop-info .text-bottom {
        padding:0;
        width:1000px;
        margin:0 auto;
    }
    .pop-info .info-line {
        width:1000px;
        margin:15px auto 30px;
    }
    
}

/* 가로 해상도 1600 이상 */
@media screen and (min-width:1600px){
    #main .tab-list .row > li {
        width:28%;
        padding:0;
        max-width:415px;
    }
    #main .tab-list .row > li {
        margin-left:8%;
    }
    #main .tab-list .row > li:nth-of-type(1),
    #main .tab-list .row > li:nth-of-type(4) {
        margin-left:0;
    }
    #main .tab-list .row > li:nth-child(3n + 4) {
        margin-left:0;
    }
    .tab-list > ul.all {
        display:block;
    }
    
    /* popup */
    .img-inner {
        max-width: 1200px;
    }
    /* 팝업창 설명 */
    .pop-info {
        padding:90px 0 130px;
    }
    .pop-info .text-top, 
    .pop-info .text-bottom {
        width:1200px;
    }
    .pop-info .info-line {
        width:1200px;
    }
    .pop-info .content02 {
        max-width: 520px;
    }
}
/* 가로 해상도 1921 이상 큰 모니터 */
@media screen and (min-width:1921px){
    #main {
        max-width: 1440px;
        margin: 160px auto 0;
        padding:0;
    }
}
















